.locales {
  float: left;
}

.visitantes {
  float: right;
}

.container {
  width: 632px;
  height: auto;
  align-content: center;
}

.cabezote {
  width: 632px;
  height: 64px;
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  vertical-align: middle;
}

.equipos {
  width: 50%;
  height: auto;
}

.bandera {
  width: 25%;
  height: auto;
}
