@import 'Style';
$primary-color:blue;
h1 {
    color: $primary-color
}

body {
    background-color: chartreuse;
}

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: georgian;
        color: $primary-color;
    }
    li {
        display: inline-block;
    }
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
    background-color: aqua;
}

.box {
    @include border-radius(100px);
}

@keyframes animation {
    from {
        background-color: red;
    }
    to {
        background-color: blue;
    }
}

@keyframes animation {
    0% {
        top: 0px;
        left: 0px;
        background: red;
    }
    25% {
        top: 20px;
        left: 1000px;
        background: blue;
        vertical-align: bottom;
        position: relative;
    }
    50% {
        top: 500px;
        left: 100px;
        background: yellow;
        vertical-align: top;
        position: relative;
    }
    75% {
        top: 50px;
        left: 0px;
        background: green;
        vertical-align: middle;
        position: relative;
    }
    100% {
        top: 10px;
        left: 0px;
        background: red;
    }
}

.animacion {
    width: 100px;
    height: 100px;
    animation-name: animation;
    animation-duration: 4s;
}